#contMP{
    display: block;
}

#contPadFV{
    display: flex;
    flex-flow: row wrap;
}

#subCtFV{
    flex-grow: 1;
    margin:3% 2%;
    background-color: rgba(0, 139, 193, 0.8);
    border-radius: 6px;
    opacity: 1;
}

#partePagos{
    flex-grow: 1;
    background-color: rgba(0,139,193,0.6);
    text-align: center;
    padding-top: 5%;
}

#areaTotal{
    font-size: 2em;
    color: black;
    text-align: center;
}

#descComprFV{
    padding: 2%;
}

#parteTarjetV{
    padding: 2% 0 2% 0;
    flex-grow: 1;
    flex-basis: 100%;
    height: auto;
    background-color: rgb(0,27,72);
    text-align: center;
    color: white;
}

#tipPagFV{
    font-size: 2em;
}

#datosDomicil label{
    margin-right: 2%;
}

#vtabtn{
    width: 10%;
}